.top-menu {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  background-color: #e4f2ff;
  border-radius: 10px;
}

/* 사이드바 열렸을 때 */
.top-menu.sidebar-open {
  width: calc(100% - 350px);
  margin-right: 0;
}

 
.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 0;
  padding: 0;
  overflow-x: auto;
  width: 90%;
  
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px 50px;
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #35373b;
  white-space: nowrap;
  flex-shrink: 0;
  width: 20%;
  position: relative;
  gap: 0px;
}

.menu-icon {
  font-size: 10px;
}

.menu-label {
  font-size: 12px;
  font-weight: 700;
  height: 10px;
}



@media (max-width: 1024px) {
  .top-menu.sidebar-open {
    width: calc(100% - 300px);
  }
}

@media (max-width: 768px) {
  .menu-item {
    padding: 12px 20px;
    gap: 4px;
  }

  .menu-icon {
    font-size: 20px;
  }

  .menu-label {
    font-size: 11px;
  }

  /* 모바일에서는 오버레이 */
  .top-menu.sidebar-open {
    width: 100%;
  }
}