# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node.js
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# Mac/Linux 시스템 파일
.DS_Store

# 기타
*.sqlite3
.claude/
**/.env
**/.env.local

# 업로드 파일
backend/uploads/*
!backend/uploads/.gitkeep
