# 쿠키 암호화용 시크릿 키 (각자 임의 문자열로 설정)
COOKIE_SECRET=your_cookie_secret_here

# 실행환경 (development / production)
NODE_ENV=development

# 백엔드 서버 포트
PORT=3001

# AI 서버 주소
AI_SERVER_URL=http://localhost:8000

# MongoDB Atlas 연결 (아이디와 비밀번호는 추후 단톡 공유 예정)
MONGO_URL=mongodb+srv://아이디:비밀번호@cluster0.f7jepft.mongodb.net/AI_LawDoctor?appName=Cluster0

#회원가입/로그인 용 JWT
JWT_SECRET=ai_lawdoctor_secret_key
JWT_EXPIRES_IN=7d

# 구글 캘린더 API 관련 설정 (구글 클라우드 콘솔에서 발급받은 값은 추후 단톡 공유 예정)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3001/oauth2callback
CLIENT_URL=http://localhost:5173