
.upload-prompt-content {
  display: flex;
  align-items: center;
}

.analysis-page-layout {
  height: calc(100vh - 70px);
  overflow-x: hidden;
}

.ai-page-wrapper{
  display: flex;
  height: 100%;
  overflow: visible;
  justify-content: center;
  background-color: #F4F6FA;
}

.left-area{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 10px ;
  height: 100%;

}

.main-content {
  flex: 1;
  overflow: hidden;
  padding: 20px;
  transition: margin-right 0.3s ease;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
}

.main-content.sidebar-open {
  margin-right: 350px;
}

.main-content.sidebar-closed {
  margin-right: 0;
}

.content-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 50px 0px;  
  
  
  
}

.content-analysis-box{ width: 794px; min-height: 1123px; height: auto;
  display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap;
  border: 1px solid #D9D9D9;
  padding: 0px 5px; background-color: #ffff;
  border-radius: 2px; }


