
.upload-prompt-content {
  display: flex;
  align-items: center;
}
.analysis-page-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  background-color: #F5F5F5;
  position: relative;
  overflow: hidden;
  
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 40px;
  transition: margin-right 0.3s ease;
  
}

.main-content.sidebar-open {
  margin-right: 350px;
}

.main-content.sidebar-closed {
  margin-right: 0;
}

.content-section {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(217, 130, 130);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}
/* 본문 */
.document-header {width: 100%; margin-top: 15px;}

.document-header h2 {
  font-size: 21px;
  color: #1f2937;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}


.document-meta {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
}

.meta-box {
display: flex;
}

.zoom-box {
  margin-left: 20px;
  width: 50px;
  display: flex;
}
.zoom-box button {width: 30px; display: flex; justify-content: center; align-items: center;}

.document-content{width: 100%; display: flex;
justify-content: center; padding: 10px;}

/* 핵심요약 */

/* 위험조항 */
.dangerous-box {
  width: 80%; background-color: skyblue;
  height: 40px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  background-color: red;
  align-items: center;
  flex-wrap: wrap;
}
.dangerous-box p {width: 100%; background-color: skyblue; margin: 10px 0px 10px 0px;}
.danger-bar {width: 100%; height: 50%; background-color: orange;
 border-radius: 10px;}

@media (max-width: 1024px) {
  .main-content.sidebar-open {
    margin-right: 300px;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .main-content.sidebar-open {
    margin-right: 0;
  }
}