.meta-string-box {
  width: 794px; height: 40px;
  display: flex;
  align-items: center;
  background: #f4f4f4;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(221, 220, 220);
}

.meta-string-box span:first-child {
  font-size: 15px;
  font-weight: 900;
  color: #414142;
  margin-left: 20px;
}

.meta-string-box span:last-child {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
}

.document-meta {
  width: 100%;
  display: flex;
  height: 60px;
  padding: 10px;
}

.meta-box {
display: flex;
height: 100%;
justify-content: flex-end;
font-size: 12px;
align-items: center;
width: 100%;
}

.meta-string-box span {margin-right: 20px;}

.zoom-box {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  height: 27px;
  border: 1px solid rgb(226, 226, 226);
}
.zoom-box button {width: 30px; display: flex; justify-content: center; 
  align-items: center;  border: none; height: 100%; margin: 0px 2px;
  background-color: #ffff; border-radius: 50px; cursor: pointer;}

.zoom-level {
  font-size: 12px;
  color: #858D99;
  min-width: 40px;
  text-align: center;
  margin: 0px 9px;
  font-weight: 700;
}